{% extends "layout.html" %}

{% block extra_styles %}
<link rel="stylesheet" href="../static/css/distance.css">
{% endblock %}

{% block content %}
<main>
  <form method="POST" action="{{ url_for('distance') }}">
    <div class="all">
      <h2>目的地の目安の距離を入力してください</h2>

      {% if error %}
      <div class="error-message">
        {{ error }}
      </div>
      {% endif %}

      <div class="items">
        <div class="input_address">
          <p>現在の住所</p>
          <input type="text" name="address" required placeholder="例：大阪府大阪市北区梅田３丁目１−１">
        </div>
        <div class="input_distance">
          <p>最小距離、最大距離を入力してください(直線距離)</p>
          <div class="form">
            <div class="min">
              <p>最小距離[km]</p>
              <input type="number" name="min_dist" required>
            </div>
            <div class="max">
              <p>最大距離[km]</p>
              <input type="number" name="max_dist" required>
            </div>
          </div>
        </div>
        <div class="submit_button">
          <button type="submit">検索</button>
        </div>
      </div>
    </div>
  </form>
</main>
{% endblock %}