
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>関西ドライブ</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="https://t.pimg.jp/081/559/211/1/81559211.jpg">
    {% block extra_styles %}{% endblock %}
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="logo">
                <a href="/">HOME</a>
            </div>
        </header>

        {% block content %}
        {% endblock %}

        <footer>
            <div class="footer_logo">©︎ Copy Light</div>
        </footer>
    </div>
</body>
</html>